In [1]:
import pandas as pd
import numpy as np

In [4]:
japan = pd.read_csv("../data/japan.csv")
kyoto = pd.read_csv("../data/kyoto.csv")
liestal = pd.read_csv("../data/liestal.csv")
meteo = pd.read_csv("../data/meteoswiss.csv")
wash = pd.read_csv("../data/washingtondc.csv")

Can they be merged rowwise?

In [47]:
print("Japan:      ", japan.columns)
print("Kyoto:      ", kyoto.columns)
print("Liestal:    ",liestal.columns)
print("Meteoswiss: ", meteo.columns)
print("Washington: ", wash.columns)

Japan:       Index(['location', 'lat', 'long', 'alt', 'year', 'bloom_date', 'bloom_doy'], dtype='object')
Kyoto:       Index(['location', 'lat', 'long', 'alt', 'year', 'bloom_date', 'bloom_doy'], dtype='object')
Liestal:     Index(['location', 'lat', 'long', 'alt', 'year', 'bloom_date', 'bloom_doy'], dtype='object')
Meteoswiss:  Index(['location', 'lat', 'long', 'alt', 'year', 'bloom_date', 'bloom_doy'], dtype='object')
Washington:  Index(['location', 'lat', 'long', 'alt', 'year', 'bloom_date', 'bloom_doy'], dtype='object')

# Japan

In [39]:
print(japan)

                   location        lat        long    alt  year  bloom_date  \
0            Japan/Wakkanai  45.415000  141.678889   2.85  1953  1953-05-30
1            Japan/Wakkanai  45.415000  141.678889   2.85  1954  1954-05-27
2            Japan/Wakkanai  45.415000  141.678889   2.85  1955  1955-05-23
3            Japan/Wakkanai  45.415000  141.678889   2.85  1956  1956-05-14
4            Japan/Wakkanai  45.415000  141.678889   2.85  1957  1957-05-22
...                     ...        ...         ...    ...   ...         ...
6568  Japan/Minamidaitojima  25.828889  131.228611  15.30  2015  2015-02-13
6569  Japan/Minamidaitojima  25.828889  131.228611  15.30  2016  2016-03-01
6570  Japan/Minamidaitojima  25.828889  131.228611  15.30  2017  2017-02-14
6571  Japan/Minamidaitojima  25.828889  131.228611  15.30  2018  2018-01-29
6572  Japan/Minamidaitojima  25.828889  131.228611  15.30  2019  2019-02-12

      bloom_doy
0           150
1           147
2           143
3           135
4           142
...         ...
6568         44
6569         61
6570         45
6571         29
6572         43

[6573 rows x 7 columns]

There are multiple locations within Japan included in this dataset. How many?

In [41]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
print(japan.location.value_counts())

Japan/Sendai             138
Japan/Muroran            138
Japan/Tottori            138
Japan/Akita              138
Japan/Nagoya             138
Japan/Kushiro            134
Japan/Kochi              130
Japan/Izuhara            114
Japan/Shionomisaki       100
Japan/Maebashi            69
Japan/Utsunomiya          69
Japan/Kobe                69
Japan/Nagano              69
Japan/Fukui               69
Japan/Okayama             69
Japan/Toyama              69
Japan/Hiroshima           69
Japan/Shimonoseki         69
Japan/Kumagaya            69
Japan/Mito                69
Japan/Niigata             69
Japan/Gifu                69
Japan/Hikone              69
Japan/Kofu                69
Japan/Choshi              69
Japan/Tsu                 69
Japan/Kyoto               69
Japan/Shizuoka            69
Japan/Kanazawa            69
Japan/Tokyo               69
Japan/Kumamoto            69
Japan/Nagasaki            69
Japan/Asahikawa           69
Japan/Tokushima           69
Japan/Obihiro             69
Japan/Takamatsu           69
Japan/Matsuyama           69
Japan/Miyazaki            69
Japan/Hakodate            69
Japan/Kagoshima           69
Japan/Yokohama            69
Japan/Oita                69
Japan/Morioka             69
Japan/Yamagata            69
Japan/Fukushima           69
Japan/Saga                68
Japan/Fukuoka             68
Japan/Sapporo             68
Japan/Nara                68
Japan/Wakayama            67
Japan/Aomori              66
Japan/Matsue              63
Japan/Osaka               61
Japan/Maizuru             60
Japan/Wakkanai            60
Japan/Abashiri            60
Japan/Wajima              58
Japan/Urakawa             57
Japan/Fukue               57
Japan/Sakata              57
Japan/Onahama             56
Japan/Hachijojima         56
Japan/Saigo               56
Japan/Miyako              55
Japan/Aikawa              55
Japan/Matsumoto           55
Japan/Takada              55
Japan/Hachinohe           55
Japan/Ishigakijima        55
Japan/Toyooka             55
Japan/Owase               55
Japan/Yonago              55
Japan/Hamada              55
Japan/Esashi              54
Japan/Iida                54
Japan/Naze                53
Japan/Takayama            53
Japan/Tsuruga             53
Japan/Rumoi               53
Japan/Naze/Funchatoge     53
Japan/Iwamizawa           52
Japan/Hamamatsu           52
Japan/Mombetsu            52
Japan/Kutchan             51
Japan/Nemuro              50
Japan/Sumoto              49
Japan/Oshima              47
Japan/Miyakojima          46
Japan/Shirakawa           45
Japan/Naha                45
Japan/Minamidaitojima     43
Japan/Hiroo               41
Japan/Shinjo              40
Japan/Uwajima             39
Japan/Tanegashima         39
Japan/Tateyama            38
Japan/Miyakejima          34
Japan/Nobeoka             33
Japan/Kumejima            31
Japan/Iriomotejima        24
Japan/Nago                23
Japan/Yonagunijima        16
Japan/Yakushima            2
Name: location, dtype: int64

In [46]:
japan.loc[japan['location']== 'Japan/Yonagunijima']

,location,lat,long,alt,year,bloom_date,bloom_doy
6290,Japan/Yonagunijima,24.466667,123.010556,30.0,1992,1992-02-10,41
6291,Japan/Yonagunijima,24.466667,123.010556,30.0,1993,1993-02-17,48
6292,Japan/Yonagunijima,24.466667,123.010556,30.0,1994,1994-02-07,38
6293,Japan/Yonagunijima,24.466667,123.010556,30.0,1995,1995-03-02,61
6294,Japan/Yonagunijima,24.466667,123.010556,30.0,1996,1996-02-17,48
6295,Japan/Yonagunijima,24.466667,123.010556,30.0,1997,1997-02-12,43
6296,Japan/Yonagunijima,24.466667,123.010556,30.0,1998,1998-03-01,60
6297,Japan/Yonagunijima,24.466667,123.010556,30.0,1999,1999-03-03,62
6298,Japan/Yonagunijima,24.466667,123.010556,30.0,2000,2000-02-06,37
6299,Japan/Yonagunijima,24.466667,123.010556,30.0,2001,2001-02-21,52
6300,Japan/Yonagunijima,24.466667,123.010556,30.0,2002,2002-02-14,45
6301,Japan/Yonagunijima,24.466667,123.010556,30.0,2003,2003-02-10,41
6302,Japan/Yonagunijima,24.466667,123.010556,30.0,2004,2004-02-11,42
6303,Japan/Yonagunijima,24.466667,123.010556,30.0,2005,2005-02-15,46
6304,Japan/Yonagunijima,24.466667,123.010556,30.0,2006,2006-01-31,31
6305,Japan/Yonagunijima,24.466667,123.010556,30.0,2007,2007-02-16,47

These appear to be observations from all over Japan. The number of observations range from 2 to 138. Above we see that observations in Yonagunijima only occur between 1992 and 2007. The goal of the contest is to predict the bloom in Kyoto, but this extra data may be useful in improving the prediction.